<div>
<form action="/objects/add" method="post">
Input name: 
<input type="text" name="name"><br>
Input description: <br>
<textarea name="description"></textarea><br>
<input type="submit" value="Add">
</form>
</div>