<h2>Objetos</h2>

<a href="/objects/create">Creacion de una tabla MYSQL</a><br>
<a href="/objects/add">Añadir</a><br>
<a href="/objects/list">Mostrar Objetos añadidos</a><br>
<a href="/objects/request">Consulta de un Objeto</a><br>
<a href="/objects/modify">Modificar</a><br>

